* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #F2FBFF;
}

.image-conteines-little {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 0px;
}

.image-conteines-none {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 0px;
}

.image-conteines-small {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
}

.image-conteines-mid {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 60px;
}

.image-conteines-big {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 250px;
}
.image-conteines-medium {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 100px;
}
.image-superior {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.image-superior-none {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 0px;
}

.image-superior-big {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 250px;
}

.seccion2 {
  position: relative;
  background-image: url("../img/fondoMarmol.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto; /* tamaño natural */
  width: fit-content;
  height: fit-content;
}

img {
  image-rendering: auto;
  width: 100%;
  height: auto;
}